<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>détail du manga</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="{{mangaTaken?.mangas.url}}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>nom du manga</ion-card-subtitle>
      <ion-card-title>{{mangaTaken?.mangas.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>auteur du manga</ion-card-subtitle>
      <ion-card-title>{{mangaTaken?.mangas.author}}</ion-card-title>
    </ion-card-header>
    <ion-card-header>
    </ion-card-header>
  </ion-card>

  <form padding-right (ngSubmit)="updateManga(mangaTaken?.mangas._id)" #mangaForm="ngForm">
    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-input type="text" name="url" [(ngModel)]="mangaUrl">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="mangaName">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">auteur</ion-label>
      <ion-input type="text" name="author" [(ngModel)]="mangaAuthor">
      </ion-input>
    </ion-item>
    <ion-button color="primary" type="submit" expand="block">modifier</ion-button>
  </form>
</ion-content>
