<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ajouter un manga
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <form #addForm="ngForm" (ngSubmit)="createManga()">
      <ion-item lines="full">
        <ion-label position="floating">Nom</ion-label>
        <ion-input type="text" name="manga" [(ngModel)]="name" ngDefaultControl required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating" >Auteur</ion-label>
        <ion-input type="text" name="author" [(ngModel)]="author" ngDefaultControl required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Url</ion-label>
        <ion-input type="text"  name="url" [(ngModel)]="url" ngDefaultControl required></ion-input>
      </ion-item>
      <!-- Radio buttons -->
      <ion-list radio-group>
        <ion-list-header>
          <ion-label>Type</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let element of selectTypeManga?.mangas">
          <ion-label>{{ element.name }}</ion-label>
          <ion-radio (click)="recupIdTypeManga(element._id)" value="{{element._id}}" slot="start" checked></ion-radio>
        </ion-item>
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block" [routerLink]="['/tabs/tab1']" >Ajouter</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>
