<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>liste manga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-list>
    <ion-item *ngFor="let manga of result?.mangas">
      <ion-label>
       <ion-img src="{{manga.url}}" (click)="getManga(manga._id)" [routerLink]="['/detail-manga']"></ion-img>
        <p>{{manga.name}}, {{manga.author}}</p>
       <ion-icon name="trash-bin-outline" (click)="deleteManga(manga._id)"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>
  </ion-content>
