<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img *ngFor="let element of PhotoService.arrayPhoto" src="{{element.webViewPath}}"></ion-img>
<ion-button (click)="PhotoService.takePhoto()"></ion-button>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
